<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Presidents</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin-top: 60px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Presidents</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-link" href="/swagger">View Swagger</a></li>
                    <!--<li><a class="btn btn-link" ng-hide=" userInfo.isAuthenticated" ng-click="login()">Login</a></li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- presidents ui here -->
        <table class="table table-striped" ng-app="myApp" ng-controller="presidentListCtrl">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>BirthPlace</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="con in presidents">
                    <td>{{con.Name}}</td>
                    <td>{{con.Birthday}}</td>
                    <td>{{con.BirthPlace}}</td>
                    <td><button class="btn btn-sm btn-warning" ng-click="delete(con.Id)">Delete</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Create a new President</th>
                    <th colspan="2">API Status: {{status}}</th>
                    <th><button class="btn btn-sm btn-info" ng-click="refresh()">Refresh</button></th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Name" ng-model="newName" /></td>
                    <td><input type="text" placeholder="Birthday" ng-model="newNBirthday" /></td>
                    <td><input type="text" placeholder="BirthPlace" ng-model="newBirthPlace" /></td>
                    <td><button class="btn btn-sm btn-success" ng-click="create()">Create</button></td>
                </tr>
                <tr>
                    <td colspan="4">API URL: {{baseUrl}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        /* client javascript code here */
        angular.module('myApp', []).controller('presidentListCtrl', function ($scope, $http) {

            $scope.refresh = function () {
                $scope.status = "Refreshing Presidents...";
                $http({
                    method: 'GET',
                    url: '/api/presidents',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (results) {
                    $scope.presidents = results.data;
                    $scope.status = "Presidents loaded";
                }, function (err) {
                    $scope.status = "Error loading presidents";
                });
            };

            $scope.create = function () {
                $scope.status = "Creating a new president";
                
                $http({
                    method: 'POST',
                    url: '/api/presidents',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: {
                        'Name': $scope.newName,
                        'Birthday': $scope.newBirthday,
                        'BirthPlace': $scope.newBirthPlace,
                        'Age': $scope.newAge,
                        'CreatedBy': 'Guest'
                    }
                }).success(function (data) {
                    $scope.status = "President created";
                    $scope.refresh();
                    $scope.newId = 0;
                    $scope.newName = '';
                    $scope.newEmail = '';
                });
            };

            $scope.delete = function (id) {
                $scope.status = "Deleting president";
                $http({
                    method: 'DELETE',
                    url: '/api/presidents/' + id
                }).success(function (data) {
                    $scope.status = "President deleted";
                    $scope.refresh();
                });
            };

            $scope.refresh();
        });
    </script>

</body>
</html>
